@import "reset";
@import "fonts";

body {
    color: #000;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
    font-family: 'Inter', serif;
}

button {
    cursor: pointer;
}

.container {
    padding: 0 10px;
    max-width: 1220px;
    margin: 0 auto;
}

.main {

    &__title {
        font-family: interBold;
        font-size: 64px;
        margin-bottom: 20px;
    }
}

.header {
    min-height: 100vh;
    position: relative;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
    }

    &__content-images {
        text-align: center;
        padding-bottom: 50px;

    }
}

.header__content-images::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
    z-index: -2;
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 0 40px;
        font-weight: 700;
    }

    &__btn {
        text-transform: uppercase;
        padding: 15px 58px;
        border-radius: 30px;
        color: #fff;
        background-color: #000;
        font-weight: 700;
    }
}

.title {
    font-size: 210px;
    font-weight: 700;
    position: absolute;
    padding-top: 110px;

    &--pod {
        position: relative;
        z-index: -1;
        // right: 30px;
    }

    &--s {
        display: inline-block;
        transform: translateY(90px);
    }

    &--m {
        display: inline-block;
        transform: translate(-25px, 290px);
    }

    &--ax {
        display: inline-block;
        position: relative;
        transform: translate(-85px, 390px);
        z-index: -1;
    }
}



.choose-color {
    padding: 45px 0 180px;
    text-align: center;

    &__title {
        font-size: 36px;
        font-family: InterBold;
        max-width: 555px;
        margin: 0 auto 20px;
    }

    &__text {
        max-width: 555px;
        margin: 0 auto 80px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    &__btn {
        border: 1px solid #777;
        border-radius: 20px;
        padding: 50px 55px;
    }
}

.composition {
    margin-bottom: 180px;
}

.composition {

    &__title {
        text-align: center;
    }

    &__text {
        max-width: 655px;
        text-align: center;
        margin: 0 auto 40px;
    }

    &__inner {
        max-width: 625px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between
    }

    &__inner-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;

        & p {
            max-width: 230px;
        }
    }
}

.case {
    background-color: #fafafa;
    padding: 80px 0 100px;
    text-align: center;

    &__title {}

    &__text {
        margin: 0 auto 40px;
        max-width: 825px;
    }
}



.energy {

    &__title {
        padding-top: 160px;
        margin-bottom: 40px;
    }

    &__num {
        font-family: interBold;
        font-size: 210px;
        margin-bottom: 40px;
    }

    &__text {
        max-width: 400px;
        margin: 0 auto;
    }
}

.audio {
    // position: relative;
    background-image: url(../images/audio-full.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    &__inner {
        min-height: 220vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &__box {
        color: #fff;
        text-align: center;
        padding-bottom: 50vh;
    }

    &__text {
        max-width: 300px;
        margin-bottom: 10px;
    }
}

// .audio::before {
//     content: '';
//     position: absolute;
//     background-image: url(../images/audio-bg.jpg);
//     background-repeat: no-repeat;
//     background-position: top center;
//     background-size: cover;
//     z-index: -2;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     height: 100%;
// }

// .audio::after {
//     content: '';
//     position: absolute;
//     background-image: url(../images/sound.png);
//     background-repeat: no-repeat;
//     background-position: bottom center;
//     background-size: cover;
//     width: 100%;
//     left: 0;
//     right: 0;
//     bottom: -250px;
//     height: 150vh;
//     z-index: -1;

// }

.btn {
    text-transform: uppercase;
    font-family: interBold;
    background-color: #fff;
    padding: 15px 58px;
    border-radius: 30px;
    margin-top: 25px;
}


.footer {
    padding: 50px 0 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: interBold;

    &__link {}

    &__text {
        padding: 20px 0;
    }

    &__list {
        padding-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 20px;
    }

    &__item {}
}















@import "media";